<nav>
  <div class="nav-wrapper">
    <a routerLink='/home' class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a routerLink='/home/voiture'>Voiture</a>
      </li>
      <li>
        <a routerLink="/home/pied">Pied</a>
      </li>
    </ul>

    <!-- SideNav for mobile -->
    <ul id="slide-out" class="side-nav">
      <li routerLinkActive="active">
        <a routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home/voiture">Voiture</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home/pied">Pied</a>
      </li>
    </ul>
    <a materialize="sideNav" [materializeParams]="[{closeOnClick:true}]" href="#" data-activates="slide-out" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
