<div class="card col m12">
  <p>
    voiture works!, data = {{sharing.data1.name}}
  </p>
  <span class="loading" *ngIf="this.loading"><i class="material-icons loading">refresh</i></span>
  <div *ngFor="let tuture of tutures">
    <p class="blue-text text-lighten-2">Modèle : {{tuture.name}}</p>
    <p class="red-text text-darken-2">Vitesse : {{tuture.speed}}</p>
    <input type="text" [(ngModel)]="tuture.name">
  </div>
</div>
