<div class="card">
  <div class="row">
    <div class="row">
      <div class="col m8">
        <form materialize action="" (submit)="addPied()">
          <div class="row">
            <div class="col m6 offset-m1">
              <div class="input-field">
                <input type="text" [(ngModel)]="this.newPied.name" name="name">
                <label for="name">Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col m6 offset-m1">
              <div class="input-field">
                <input type="text" [(ngModel)]="this.newOrteil.name" name="orteil">
                <label for="orteil">Orteil</label>
              </div>
            </div>
            <div>
              <a class="waves-effect waves-light btn" (click)="addOrteil()">add orteil</a>
            </div>
          </div>
        </form>
      </div>
      <div class="col m3 card">
        <div class="card-content">
          <span class="card-title">Pied à ajouter</span>
          <p>{{this.newPied.name}}</p>
          <div class="card col m12" *ngFor="let orteil of this.newPied.orteils">
            <p>{{orteil.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="end-button">
        <a class="waves-effect waves-light btn" (click)="addPied()">add pied</a>
      </div>
    </div>
  </div>
</div>
