<div class="card">
  <div class="container">
    <span class="card-title">
      Racing component, data = {{sharing.data2.name}}
    </span>
    <input type="text" [(ngModel)]="sharing.data1.name">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
