<app-header></app-header>

<div class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="../assets/Beagle-Dog-Wallpaper.jpg"></div>
</div>
<div class="section white">
  <div id="title" class="container">
    <h1>
      Welcome to {{sharing.data1.name}}!
    </h1>

    <input type="text" [(ngModel)]="sharing.data2.name">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="../assets/tangoulou.PNG"></div>
</div>


