<div class="row">
  <div *ngFor="let pied of pieds">
    <div class="card col m3 offset-m1">
      <div *ngIf="pied.fonctionnel; else notFonctionnel">
        <!-- Case functionnal foot -->
        <p>
          {{pied.name}}
        </p>
      </div>
      <!-- Else, non functionnal foot -->
      <ng-template #notFonctionnel>
        <p>
          Le pied {{pied.name | leet}} n'est pas fonctionnel
        </p>
      </ng-template>

      <app-orteil *ngFor="let orteil of pied.orteils" [orteil]="orteil"></app-orteil>

    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" (click)="addIep()">
    <i class="material-icons">add</i>
  </a>
</div>
